.form-input-container {
  width: 100%;
  input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    outline: none;
    width: 100%;
    background: transparent;
    padding: 12px 16px;
    color: $whiteTextPrimary;
    font-family: 'satoshi-regular';
    font-size: 16px;

    &::placeholder {
      color: #949494;
      font-family: 'satoshi-regular';
      font-size: 16px;
      font-style: normal;
      line-height: normal;
    }
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.3);
      transition: all 0.4s ease;
    }
    &.error {
      border: 1px solid #af000078;
    }
  }
}

.form-button-container {
  width: 100%;
  button {
    background: var(--grad, linear-gradient(255deg, #355be0 0%, #b945cc 100%));
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 12px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'satoshi-medium';
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    cursor: pointer;
  }
}

.form-label {
  label {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
  }
}
