.visualization-container {
  width: 100%;

  .visualization {
    width: 100%;
    min-height: 50vh;
    background: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #000;
  }
}
