@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import './variable';

@font-face {
  font-family: 'satoshi-light';
  src: url('/fonts/Satoshi-Light.otf');
}
@font-face {
  font-family: 'satoshi-regular';
  src: url('/fonts/Satoshi-Regular.otf');
}
@font-face {
  font-family: 'satoshi-medium';
  src: url('/fonts/Satoshi-Medium.otf');
}
@font-face {
  font-family: 'satoshi-bold';
  src: url('/fonts/Satoshi-Bold.otf');
}
@font-face {
  font-family: 'satoshi-black';
  src: url('/fonts/Satoshi-Black.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'satoshi-regular';
  font-weight: normal;
  background: $bgBlack;
  color: $whiteTextPrimary;
}

input,
textarea,
button {
  outline: none;
  border: none;
}
button {
  cursor: pointer;
  overflow: hidden;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: var(--color-base-background) !important;
  color: fieldtext !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-text-fill-color: $whiteTextPrimary;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
