$bgBlack: #080808;
$whiteTextPrimary: #FFFFFF;
$primaryColor: var(--grad, linear-gradient(255deg, hsl(227, 73%, 54%) 0%, #B945CC 100%));
$inputBorder: 1px solid rgba(255, 255, 255, 0.10);
$secondaryTextColor: #949494;